.container{
  width: 223px;
height: 68px;
border-radius: 14px;
 background-color: #F5F5F5;
 margin: 30px 20px;
 display: flex;
 justify-content: space-between;
 align-items: center;

}
.btn1 , .btn2{
  width: 49%;
  margin: 5px;
  padding: 14px 23px;
  border-radius: 6px;
  border: none;
  font-family: Outfit;
font-weight: 400;
font-style: Regular;
font-size: 18px;
line-height: 103%;
letter-spacing: 0%;

}
.btn1{
  color: #F5F5F5;
  background-color: #FF8811;
}
/* ================= Responsive ================= */
@media (max-width: 900px){
  .container{
    width: 100%;
    max-width: 223px;
    height: 58px;
    margin: 20px 16px;
  }
  .btn1 , .btn2{
    padding: 12px 10px;
    font-size: 16px;
  }
}
